@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

*{
    padding: 0;
    margin:0;
    font-family: WDXL Lubrifont TC;
    color: rgb(31, 31, 31);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    height: 100vh;
}

.main{
    background-color: white;
    width: 25em;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.5em;
}

h3{
    width: 100%;
    font-size: 1.5em;
}

.input-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

input{
    font-size: 1.5em;
    outline: none;
    border: 1px solid rgb(31, 31, 31);
    margin-top: 0.5em;
    width: 95%;
    height: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.2em;
}

.button-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

button{
    background-color: rgb(31, 31, 31);
    border: none;
    cursor: pointer;
    font-size: 1.6em;
    padding: 0.5em;
    width: 100%;
    color: white;
    border-radius: 0.3em;
}

button:hover{
     background-color: rgb(65, 65, 65);  
}

.qr-box{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

